//========================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700&display=swap);
//========================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// PRESS FOOTER
	> main {
		flex: 1 1 auto;
	}
	// FIX FOR SLIDERS
	> * {
		min-width: 0;
	}
}
//========================================================================================================================================================
// MAIN COLOR
$mainColor: #252B42;
// BG COLOR
$bgColor: #fff;
// FONT FAMILY
$fontFamily: "Montserrat";
// FONT SIZE
$fontSize: 16px;
//========================================================================================================================================================
// CONTAINER
[class*="__container"] {
	max-width: 1065px;
	margin: 0 auto;
	padding: 0px 10px;
}
//========================================================================================================================================================
// Брейк-поинты
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
//========================================================================================================================================================
@import "forms/null";
@import "forms/mixins";
//========================================================================================================================================================
// CONNECT PARTS
@import "header";
@import "footer";
@import "common";
// CONNECT PAGES
@import "home";
//========================================================================================================================================================
